<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>植物墙_立体绿化_垂直绿化-千山素集</title>
    <meta name="description" content="“千山素集”（武汉）绿化科技有限公司致力于室内室外植物墙、立体垂直绿化产品的研发和销售，应用于家庭、办公室、酒店、餐厅、医院和娱乐场所等。电话:4000-027-100" />
    <meta name="keywords" content="植物墙,垂直绿化,立体绿化,室内植物墙,植物墙公司,植物墙做法,植物背景墙,家庭植物墙" />
     <meta name="csrf-token" content="Yl3LZxtjjInTkncTGkA95K1EsKULGMdFSRRIlytU">
     <link rel="alternate" media="only screen and(max-width: 640px)" href="http://m.qssjlh.com" >
    <link rel="stylesheet" href="http://www.qssjlh.com/templets/default/style/global.css"/>
    <link rel="stylesheet" href="http://www.qssjlh.com/templets/default/style/style.css"/>
    <link rel="stylesheet" href="http://www.qssjlh.com/templets/default/js/swiper/swiper.min.css">
    <link rel="stylesheet" href="http://www.qssjlh.com/templets/default/js/cityselect/cityselect.css">
<script type="text/javascript">if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="http://m.qssjlh.com/";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}</script>
<script src="//msite.baidu.com/sdk/c.js?appid=1577299964245671"></script>
<div class="header">
    <div class="header-container">
        <a href="/" class="logo"><img src="/images/logo.png" alt="千山素集"></a>
        <div class="tel"><img src="/images/header_tel.jpg" alt="全国客服热线：4000-027-100"></div>
    </div>
</div>
<div class="nav">
    <ul class="nav-list header-container">
        <li class="current"><a href="/">首页</a></li>
        <li><a href="/about/">关于我们</a></li>
        <li><a href="/application/">应用场景</a></li>
        <li><a href="/case/">服务案例</a></li>
        <li><a href="/product/">产品中心</a></li>
        <li><a href="/news/">行业资讯</a></li>
        <li><a href="/contact/">联系我们</a></li>
    </ul>
</div>
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?948d65f450ccfc1c3b03fa2c578236a8";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

    </head>
<body>

<div class="banner">
    <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image:url('/images/banner5.jpg')"></div>
                <div class="swiper-slide" style="background-image:url('/images/6de786d5d2044d03.jpeg')"></div>
                <div class="swiper-slide" style="background-image:url('/images/e7562d1002e68d07.jpeg')"></div>
                <div class="swiper-slide" style="background-image:url('/images/banner4.jpg')"></div>

    </div>
    <div class="swiper-pagination"></div>
</div>

　　<div class="about-box">
	<div class="container">
		<div class="title">
			<span class="t-why">为什么选择我们？</span> <span class="t-n">about us</span><br />
			<br />
			<br />
			&nbsp;</div>
		<div class="cont about-detail clearfix">
			<p class="thumb">
				<img src="/images/about.jpg" /></p>
			<p>
				<span microsoft="" style="color: rgb(102, 102, 102); font-family: ">&ldquo;千山素集&rdquo;（武汉）绿化科技有限公司致力于生态环保植物墙。植物屏风、绿色家居饰品、阳台种菜、室内园艺的研发、生产和销售。</span><br microsoft="" style="margin: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: " />
				<span microsoft="" style="color: rgb(102, 102, 102); font-family: ">公司从事绿化及环保产品的团队大力组建，立足科技，坚持创新，在引进国内外先进技术与优质产品的同时，不断研发和改善产品品质，并完善项目的相关配套服务，满足不同层次与不同行业的客户需求。</span><br microsoft="" style="margin: 0px; padding: 0px; color: rgb(102, 102, 102); font-family: " />
				<span microsoft="" style="color: rgb(102, 102, 102); font-family: ">因为热爱，所以专注，无论自主研发、设计创意、还是生产销售、施工安装，我们都秉承&ldquo;打造森林城市、还原绿色生活&rdquo;的理念，我们将以饱满的热情，不断的创新和一流的施工一步步的打造我们的绿色王国，实现我们绿色城市的理想。</span></p>
		</div>
	</div>
</div>
<br />


    <div class="technology index-item">
        <div class="container">
            <div class="title">
                <span class="t1">产品工艺</span>
                <a class="t2">technology</a>
                <span class="desc">千山素集，超凡品质</span>
            </div>
            <div class="cont">
                <ul class="list clearfix">
                <li>
                        <div class="thumb"><img src='http://www.qssjlh.com/uploads/allimg/170923/1-1F9231541170-L.jpeg'/></div>
                        <div class="info">
                            <div class="tit">卡扣设计，安装便利，自由组合</div>
                            <div class="desc">更博更轻，厚度只有8cm只有50kg/㎡，传统15cm重达80kg/㎡</div>
                        </div>
                    </li>
<li>
                        <div class="thumb"><img src='http://www.qssjlh.com/uploads/allimg/170923/1-1F9231541580-L.jpeg'/></div>
                        <div class="info">
                            <div class="tit">模块化龙骨，拼接式格栅，安装便利，</div>
                            <div class="desc">施工工时节省70%以上。</div>
                        </div>
                    </li>
<li>
                        <div class="thumb"><img src='http://www.qssjlh.com/uploads/allimg/170923/1-1F9231542270-L.jpeg'/></div>
                        <div class="info">
                            <div class="tit">智能系统，定时浇灌，养护无虞</div>
                            <div class="desc">智能化系统解决维护人工费用。</div>
                        </div>
                    </li>
<li>
                        <div class="thumb"><img src='http://www.qssjlh.com/uploads/allimg/170923/1-1F9231543350-L.jpeg'/></div>
                        <div class="info">
                            <div class="tit">植物光谱补光，光合作用释放氧气</div>
                            <div class="desc">选配植物生长全光谱LED补光灯。保证光照不足的环境正常生长。</div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <div class="product-type index-item">
        <div class="container">
            <div class="title">
                <span class="t1">产品中心</span>
                <a href="product/" class="t2">category</a>
                <span class="desc">绿色定制，多种款式任你挑选</span>
            </div>
            <div class="cont">
                <ul class="list clearfix">
                                        <li><a href="product/Module/"><span class="icon i_1"></span><span class="txt">模块化植物墙</span></a></li>
                                        <li><a href="product/box/"><span class="icon i_2"></span><span class="txt">盒组植物墙</span></a></li>
                                        <li><a href="product/intelligent/"><span class="icon i_3"></span><span class="txt">智能植物墙</span></a></li>
                                        <li><a href="product/movement/"><span class="icon i_4"></span><span class="txt">移动式植物墙</span></a></li>
                                        <li><a href="product/3d/"><span class="icon i_5"></span><span class="txt">3D植物画框摆件</span></a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="application index-item">
        <div class="container">
            <div class="title">
                <span class="t1">应用场景</span>
                <a href="application/" class="t2">application</a>
                <span class="desc">绿色定制，多种场景任你玩转</span>
            </div>
            <div class="cont">
                <ul class="list clearfix">
                                            <li><a href="application/family/"><span class="icon i_1"></span><span class="txt">家庭</span></a></li>
                                            <li><a href="application/office/"><span class="icon i_2"></span><span class="txt">办公</span></a></li>
                                            <li><a href="application/hotel/"><span class="icon i_3"></span><span class="txt">酒店</span></a></li>
                                            <li><a href="application/restaurant/"><span class="icon i_4"></span><span class="txt">餐厅</span></a></li>
                                            <li><a href="application/hospital/"><span class="icon i_5"></span><span class="txt">医院</span></a></li>
                                            <li><a href="application/leisure/"><span class="icon i_6"></span><span class="txt">娱乐</span></a></li>






                </ul>
            </div>
        </div>
    </div>
    <div class="case index-item">
        <div class="container">
            <div class="title">
                <span class="t1">服务案例</span>
                <a href="case/" class="t2">case</a>
                <span class="desc">千山素集，让你身边处处有绿色</span>
            </div>
            <div class="cont">
                <ul class="list clearfix">
                <li><a href="http://www.qssjlh.com/case/726.html" class="tit">
                            <div class="thumb"><img src='http://www.qssjlh.com/uploads/allimg/20180329/1522304159798454-lp.jpg'/></div>
                            <div class="info">
                                <span class="tit">武汉建工科技大楼--会所吧台植物墙</span>
                                <span class="ty">此面植物墙是上周末刚刚为武汉建工大楼打造的，并没有使用大的面积</span>
                            </div>
                                        </a></li>
<li><a href="http://www.qssjlh.com/case/694.html" class="tit">
                            <div class="thumb"><img src='http://www.qssjlh.com/uploads/allimg/20180329/1522304843826726-lp.jpg'/></div>
                            <div class="info">
                                <span class="tit">华源电力--武汉分公司背景植物墙</span>
                                <span class="ty">汉街壹号公馆位于商务繁华的武昌汉街旁边，属于高档商业综合体。此</span>
                            </div>
                                        </a></li>
<li><a href="http://www.qssjlh.com/case/708.html" class="tit">
                            <div class="thumb"><img src='http://www.qssjlh.com/uploads/allimg/20180329/1522304446103921-lp.jpg'/></div>
                            <div class="info">
                                <span class="tit">花屿咖啡-仿真植物墙</span>
                                <span class="ty">设计施工图 一：原始照片 二 ：设计效果图 三：实景照片 千山素集致力</span>
                            </div>
                                        </a></li>
<li><a href="http://www.qssjlh.com/case/707.html" class="tit">
                            <div class="thumb"><img src='http://www.qssjlh.com/uploads/allimg/20180225/1519546184113173-lp.jpg'/></div>
                            <div class="info">
                                <span class="tit">千山素集-仿真植物墙实景案例</span>
                                <span class="ty">千山素集，仿真植物墙，草皮墙，背景墙，绿植墙面装饰绿植，假绿化</span>
                            </div>
                                        </a></li>
<li><a href="http://www.qssjlh.com/case/143.html" class="tit">
                            <div class="thumb"><img src='http://www.qssjlh.com/uploads/allimg/20170925/1506330054101339.jpg'/></div>
                            <div class="info">
                                <span class="tit">武汉中铁建梧桐苑</span>
                                <span class="ty">千山素集-武汉中铁梧桐苑</span>
                            </div>
                                        </a></li>
<li><a href="http://www.qssjlh.com/case/551.html" class="tit">
                            <div class="thumb"><img src='http://www.qssjlh.com/uploads/171114/2-1G114163450557.jpg'/></div>
                            <div class="info">
                                <span class="tit">武汉朗歌口腔医院</span>
                                <span class="ty">千山素集-朗格口腔医院</span>
                            </div>
                                        </a></li>



                </ul>
            </div>
        </div>
    </div>
    <div class="news index-item">
        <div class="container">
            <div class="title">
                <span class="t1">行业动态</span>
                <a href="news/" class="t2">news</a>
                <span class="desc">千山素集，让你身边处处有绿色</span>
            </div>
            <ul class="list2 clearfix">
              <li>

                    <div class="container">

<a href='http://www.qssjlh.com/application/shop/751.html' class='thumb'><img src='http://www.qssjlh.com/uploads/allimg/20180403/1522724401855773.jpg'/></a>
                      <div class="info">
                            <a href="http://www.qssjlh.com/application/shop/751.html" class="tit">展厅植物墙-2015米兰世博会美国馆</a>
                            <div class="desc">2015年米兰世博会上的美国馆使人流连忘返，它向人们展现了美国在未来... </div>
                            <a href="http://www.qssjlh.com/application/shop/751.html" class="more">REAd MORE +</a>
                      </div>

                    </div>
                </li>
<li>

                    <div class="container">

<a href='http://www.qssjlh.com/application/house/750.html' class='thumb'><img src='http://www.qssjlh.com/uploads/allimg/20180402/1522654227855256-lp.jpg'/></a>
                      <div class="info">
                            <a href="http://www.qssjlh.com/application/house/750.html" class="tit">植物墙装饰之玄关┃用美来分割空间！</a>
                            <div class="desc">现代玄关在空间装饰的应用非常广泛，大多应用于厅堂的外门，也就是... </div>
                            <a href="http://www.qssjlh.com/application/house/750.html" class="more">REAd MORE +</a>
                      </div>

                    </div>
                </li>
<li>

                    <div class="container">

<a href='http://www.qssjlh.com/news/info/749.html' class='thumb'><img src='http://www.qssjlh.com/uploads/allimg/20180331/1522479752136415.jpg'/></a>
                      <div class="info">
                            <a href="http://www.qssjlh.com/news/info/749.html" class="tit">植物墙的价值不能用价格衡量，而是取决于内涵</a>
                            <div class="desc">植物墙价格随着我国城市化水平的逐步提高， 高层建筑的数量和密度不... </div>
                            <a href="http://www.qssjlh.com/news/info/749.html" class="more">REAd MORE +</a>
                      </div>

                    </div>
                </li>
<li>

                    <div class="container">

<a href='http://www.qssjlh.com/application/shop/748.html' class='thumb'><img src='http://www.qssjlh.com/uploads/allimg/20180331/1522476658122907.jpg'/></a>
                      <div class="info">
                            <a href="http://www.qssjlh.com/application/shop/748.html" class="tit">千山素集：浅谈隔离式植物墙在公共空间的作用</a>
                            <div class="desc">隔离式植物墙是指将植物墙打造在立面空间时采取位置处理或辅助景观... </div>
                            <a href="http://www.qssjlh.com/application/shop/748.html" class="more">REAd MORE +</a>
                      </div>

                    </div>
                </li>
<li>

                    <div class="container">

<a href='http://www.qssjlh.com/application/office/747.html' class='thumb'><img src='http://www.qssjlh.com/uploads/allimg/20180330/1522384533429414.jpg'/></a>
                      <div class="info">
                            <a href="http://www.qssjlh.com/application/office/747.html" class="tit">前台植物墙：有种前台，叫别人公司的前台</a>
                            <div class="desc">用绿植墙做为公司前台的装饰，清雅大方，适合任意风格。
... </div>
                            <a href="http://www.qssjlh.com/application/office/747.html" class="more">REAd MORE +</a>
                      </div>

                    </div>
                </li>
<li>

                    <div class="container">

<a href='http://www.qssjlh.com/news/knowledge/746.html' class='thumb'><img src='http://www.qssjlh.com/uploads/allimg/20180330/1522375785115505.jpg'/></a>
                      <div class="info">
                            <a href="http://www.qssjlh.com/news/knowledge/746.html" class="tit">公交车都可以做绿化了，你相信吗？</a>
                            <div class="desc">绿化，在我们的生活中无处不在，不管是路边，花坛，绿化景观，都是... </div>
                            <a href="http://www.qssjlh.com/news/knowledge/746.html" class="more">REAd MORE +</a>
                      </div>

                    </div>
                </li>
<li>

                    <div class="container">

<a href='http://www.qssjlh.com/news/knowledge/745.html' class='thumb'><img src='http://www.qssjlh.com/uploads/allimg/20180329/1522293440352043.jpg'/></a>
                      <div class="info">
                            <a href="http://www.qssjlh.com/news/knowledge/745.html" class="tit">注意┃植物墙供水的6大隐患</a>
                            <div class="desc">供水是保障植物墙长期运行的重要元素，植物墙需要按照一定的周期进... </div>
                            <a href="http://www.qssjlh.com/news/knowledge/745.html" class="more">REAd MORE +</a>
                      </div>

                    </div>
                </li>
<li>

                    <div class="container">

<a href='http://www.qssjlh.com/news/knowledge/744.html' class='thumb'><img src='http://www.qssjlh.com/uploads/allimg/20180328/1522222572431608.jpg'/></a>
                      <div class="info">
                            <a href="http://www.qssjlh.com/news/knowledge/744.html" class="tit">植物屏风在风水学中的运用</a>
                            <div class="desc">屏风的高度不可太高，最好不要超过一般人站立时的高度；否则，太高... </div>
                            <a href="http://www.qssjlh.com/news/knowledge/744.html" class="more">REAd MORE +</a>
                      </div>

                    </div>
                </li>


            </ul>
        </div>
    </div>
<a id="contact"></a><div class="message-box">
    <div class="container-full">
        <div class="title"><img src="/images/mess-tit.png" alt="我要直接下单"></div>
        <div class="cont">
            <div class="mess-tit">定制植物墙</div>
            <form action="/plus/diy.php" enctype="multipart/form-data" method="post">
            <input type="hidden" name="action" value="post" />
            <input type="hidden" name="diyid" value="1" />
            <input type="hidden" name="do" value="2" />
                <ul class="message-form clearfix">
                    <li>

                        <input type="text" class="key" id="citySelect" name="address"  placeholder="请输入目的地">
                    </li>
                    <li>
                        <input type="text" class="key" name="phone"  placeholder="输入您的电话,获取免费咨询名额">
                    </li>
                    <input type="hidden" name="dede_fields" value="address,text;phone,int" />
                    <input type="hidden" name="dede_fieldshash" value="030a455af57d0c1a7d1a231e14727c91" />
                    <input type="hidden" name="type" value="定制植物墙" />
                     <li><input type="submit" name="submit" value="提 交" class="submit1" /></button></li>
                </ul>
            </form>
        </div>
    </div>
</div>

<div class="link">
    <div class="container">
           <span class="link1">友情链接：</span>
         　
　　       <a href='http://www.beiweizs.com/' target='_blank'>东莞装修公司</a>
　       　
　　       <a href='http://www.zdsee.com/' target='_blank'>支点设计</a>
　       　
　　       <a href='http://www.whlovehome.com/' target='_blank'>武汉装修公司</a>
　       　

    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="footer-menu">
            <div class="text">
                <P>千山素集（武汉）绿化科技有限公司</P><P>邮箱：324130098@qq.com<P>地址：武汉王家墩中央商务区泛海国际SOHO一期第一幢19层4号</P></div>
            <div class="partner">
                <span>合作伙伴：</span>

                    <img src="/images/12acf54fcb5fe813.jpeg" />


                    <img src="/images/87b0034a979f1ff9.png" />


                    <img src="/images/7abf460a0cd1a58f.jpeg" />

                            </div>
            <div class="copyright">版权所有 © 千山素集绿化科技有限公司 2017 All Rights Reserved 鄂ICP备17013902号-1</div>
        </div>
        <div class="call">
                        <p>
                <img src="/images/0b6148b1ff300616.jpeg">
                <span>千山素集微信客服在等你</span>
            </p>
                        <p>
                <img src="/images/472bffbcfb74d056.jpeg">
                <span>关注查看更多创意装饰</span>
            </p>

        </div>
    </div>
</div>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?605dd7ff465573d5559dd4785a50c4c1";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script src="https://s22.cnzz.com/z_stat.php?id=1271437541&web_id=1271437541" language="JavaScript"></script>


<script src="http://www.qssjlh.com/templets/default/js/jquery.min.js"></script>
<script src="http://www.qssjlh.com/templets/default/js/layer.js"></script>
<script src="http://www.qssjlh.com/templets/default/js/public.js"></script>
<script src="http://www.qssjlh.com/templets/default/js/head.js"></script>

<script type="text/javascript" src="http://www.qssjlh.com/templets/default/js/cityselect/cityselect.js"></script>
<script>

    var test=new Vcity.CitySelector({input:'citySelect'});
</script>
    <script src="http://www.qssjlh.com/templets/default/js/swiper/swiper.min.js"></script>
    <script>

        // banner JS 效果
        var swiper = new Swiper('.banner', {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            autoplay : 5000,
        });

    </script>
<script>
    $(document).on('click','#btn',function(e){
        e.preventDefault();
        var myform = $(this).parents('form');
        var data = myform.serialize();

        var action = myform.attr('action');
        layer.load();
        $.post(action, data, function(xdata){

            layer.closeAll('loading');

            if (xdata.status) {
                layer.msg(xdata.message,{time:2500,icon:1});
                setTimeout(function(){
                    window.location.reload();
                },2500);
            } else {
                layer.msg(xdata.message,{time:1500,icon:2})
            }
        });
    })
</script>
</body>
</html>
